<div class="container-fluid">
  <div *ngIf="!isLoading && isError" class="mb-3">
    <div
      class="d-flex align-items-center justify-content-center p-5 border border-danger rounded-lg"
    >
      <i class="pi pi-times-circle error-icon" style="font-size: 2rem"></i>
      <span class="ms-3"
        >Wystąpił błąd podczas pobierania danych o walutach</span
      >
    </div>
  </div>
  <p-table
    [value]="exchangeRates"
    styleClass="p-datatable-gridlines"
    [paginator]="true"
    [rows]="5"
    [loading]="isLoading"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5, 10, 25, 50]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th colspan="3">
          <div class="d-flex justify-content-between">
            <button
              pButton
              type="button"
              icon="pi pi-filter-slash"
              label="Clear"
              iconPos="left"
              class="p-button-help p-button-outlined"
              (click)="clearTableStatus()"
            ></button>
            <div class="p-field p-col-12">
              <p-calendar
                [(ngModel)]="requestedDate"
                [showIcon]="true"
                dateFormat="yy-mm-dd"
              ></p-calendar>
            </div>
          </div>
        </th>
      </tr>
      <tr>
        <th>
          <div class="d-flex justify-content-between align-items-center">
            <span>Symbol waluty</span>
            <p-columnFilter
              type="text"
              field="code"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th>
          <div class="d-flex justify-content-between align-items-center">
            <span>Waluta</span>
            <p-columnFilter
              type="text"
              field="currency"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th>
          <div class="d-flex justify-content-between align-items-center">
            <span>Kurs waluty</span>
            <p-columnFilter
              type="text"
              field="mid"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rate>
      <tr>
        <td>{{ rate.code }}</td>
        <td>{{ rate.currency }}</td>
        <td>{{ rate.mid }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="3" class="text-center">Brak danych</td>
      </tr>
    </ng-template>
  </p-table>
</div>
