@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/primeng.min.css';

body {
  height: 100vh;
}

.logo {
  background-color: $indigo;
  color: $light;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.error-icon {
  color: $red;
}

.p-paginator {
  justify-content: end !important;
}
